@import  '../../other/Variable.scss';

.bg-home{
  margin-bottom: 5%;
  &__content{
    display: flex;
    align-items: center;
    width: 75%;
    margin: auto;
    @include breakpoint(mobil){
       width: 90%;
       flex-direction: column-reverse;
    }
    @include breakpoint(tablette){
      width: 90%;
    }
    .content__presentation{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include breakpoint(mobil){
         padding-left: 20px;
       }
        .presentation__legende{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: start;
            // border: 1px solid red;
            margin-bottom: 3%;
            .legende__motivation{
                display: flex;
                flex-direction: column;
                align-items: start;
                color :$orange;
                font-family: $font2;
                font-weight: bold;
            }
            h1{
              font-size: 3.5em;
              font-family: $font;
              text-align: start;
              font-weight: bold;
              @include breakpoint(tablette){
                font-size: 2.5em;
                width: 90%;
              }
              @include breakpoint(mobil){
                font-size: 2.5em;
                width: 90%;
              }
              
            }
            .legende__commente{
              p{
                font-family: $font2;
                text-align: start;
                padding-top: 10px;
                font-weight: bold;

                @include breakpoint(mobil){
                  text-align: justify;
                }
              }
            }
            .legende__hire-me{
              margin-top :2%;
              width: 100%;
              display: flex;
              justify-content: start;
              .link{
                @include link;
                padding: 10px 20px;
                border-radius: 15px;
                background-color: $bleu;
                color: white;
                margin-right: 12%;
              }
              img{
                width: 4%;
              }
            }

        }
        .presentation__language{
          margin-bottom: 4%;
          .logiciel{
            p{
              @include link;
              text-align: start;
              margin-bottom: 8px;
              color: $orange;
            

            }
            .content__log{
              display: flex;
              justify-content: start;
              flex-wrap: wrap;
              span{
                @include link;
                color: white;
                margin-right:3px;
                border-radius: 8px;
                font-weight: normal;
                margin-bottom: 5px;
              }
              .lang-h{
                background-color: $orange;
              }
              .lang-c{
                background-color: $bleu;
              }
              .lang-s{
                background-color: orange;
              }
              .lang-j{
                background-color: rgb(31, 3, 58);
              }
              .lang-r{
                background-color: rgb(10, 165, 255);
              }
              .lang-p{
                background-color: mediumslateblue;
              }
              .lang-d{
                background-color: $nav-bg;
              }
            }
          }
          .sysEmbarque{
            // display: flex;
            // justify-content: start;
            p{
              @include link;
              text-align: start;
              margin: 8px 0;
              color: $orange;
              
            }
            .content__sys{
              display: flex;
              justify-content: start;
              flex-wrap: wrap;
              span{
                @include link;
                color: white;
                margin-right:3px;
                border-radius: 8px;
                font-weight: normal;
                margin-bottom: 5px;
                
              }
              .sys-m{
                background-color: mediumslateblue;
              }
              .sys-a{
                background-color: $nav-bg;
              }
            }
          }
        }
        .presentation__link-reseau{
          display: flex;
          justify-content: start;
          width: 100%;
          .link-reseau{
            @include link;
            padding: 0;
            margin: 5px 10px;
          }
        }
    }
    .content__image:hover .whatsapp{
      transform: scale(1);
      display: block;
      // transition: transfom 0.5s ease;
    }
    .content__image{
      position: relative;
      .image_image{
          @include breakpoint(mobil){
            max-width: 90%;
          }
          @include breakpoint(tablette){
            width: 360px;
          }
      }
      .whatsapp{
        @include link;
        position: absolute;
        bottom: 3%;
        left: 6%;
        border-radius: 20px;
        padding: 20px 8px;
        background-color: white;
        // box-shadow: 1px 1px 1.6px #d1d9e6, -0.6px -0.6px 1.6px #fff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.178); /* Réglez les valeurs d'ombre appropriées ici */
        @include breakpoint(mobil){
          transform: scale(0);
          transition: transform 0.3s ease;
        }
        .ingit{
          text-align: end;
          width: 100%;
        }
        h3{
          font-family: $font;
          // font-weight: bold;
        }
        .useGithub{
          
          // @include link;
          font-family: $font2;
          font-size: 0.8em;
          // position: absolute;
          background-color: white;
          // top: 40%;
          // right: 0;
          padding: 5px 15px;
          border-radius: 30px;
          // border: 1px solid $orange;
          .useGitbub__content{
            display: flex;
            justify-content: space-between;
            .repos{
              padding-right:10px ;
            }
            .fo{
              font-family: $font;
              // background-color: aqua;
              font-weight: bolder;
            }
          }
        }
        .imgAvatar{
          width: 50px;
          border-radius: 50%;
        }
        &__button{
          display: flex;
          justify-content: space-around;
          margin: 12px 0;
          position: absolute;
          top: -15%;
          right: 0;
          .callImage{
            margin-right: 10%;
          }
          button{
            border: none;
            background-color: white;
            border-radius: 12px;
            padding: 5px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.178); /* Réglez les valeurs d'ombre appropriées ici */
            cursor: pointer;
            img{
              width: 25px;
              // box-shadow: 1rem 1rem 1.6rem #d1d9e6, -0.6rem -0.6rem 1.6rem #fff;
              background-color: transparent;
              
            }
          }
        }
  
      }
    }
  }

}